<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstXMLProjectAINotePad"
        tools:targetApi="31">
        <activity
            android:name=".presentation.features.speech_to_text.SpeechToTextActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.premium_screen.Premium_Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.bottom_exit_dialog.BottomExitDialog"
            android:exported="false" />
        <activity
            android:name=".presentation.features.Hello_screen.Hello_Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.Rate_us_screen.Rate_Us_Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.feedback_screen.Feedback_activity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.setting_activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.home_activity.HomeActivity"
            android:exported="false" />
        <activity android:name=".presentation.features.language_fragment.LanguageActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>